body {
  background-color: #ef3e3e;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  gap: 3rem;
  color: white;
  font-family: "Happy Monkey", system-ui;
  font-size: 20px;
  margin: 0;
  padding: 1rem;
}

p {
  margin: 0;
}

#list {
  width: 33%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemon {
  background-color: #292929;
  height: 3.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.pokemon p:nth-child(2) {
  flex: 1;
}

.pokemon img {
  height: 3rem;
}

#right-column {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.fixed-position {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#search {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#search-input {
  background-color: rgba(182, 47, 47, 0.7);
  border-radius: 30px;
  color: white;
  border: none;
  font-size: 1.5rem;
  width: 30%;
}

#detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  height: 250px;
}

.type {
  height: 3rem;
}

#evolution {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}